@font-face {
    font-family: 'Gotham-Lgt';
    src: url('../fonts/Gotham/Gotham_Light/Gotham_Light.otf');
}

@font-face {
    font-family: 'Gotham-Med';
    src: url('../fonts/Gotham/Gotham_Medium/Gotham_Medium.otf');
}

body {
    background: rgb(0,34,28);
    background: linear-gradient(135deg, rgba(0,34,28,1) 47%, rgba(18,91,69,1) 100%);
    color: rgb(15, 15, 11);
    color: white;
    font-family: 'Gotham-Lgt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: 100vh;
    min-height: 100vh;
    padding-top: 100px;
}

.btn, .btn:hover {
    background: #125b45;
    border: 1px solid #00221c;
    color: white;
    width: 100%;
    letter-spacing: 1px;
}

.data {
    flex-grow: 1;
}

.form-text {
    display: inline-block;
    width:100%;
}

.headline {
    font-size: 24px;
    text-shadow: 5px 5px 10px black;
}

.headline h1 {
    font-size: 80px;
    margin-top: 40px;
}

.item {
    width: auto;
    flex-grow: 1;
    flex-direction:wrap;
    display: inline-block;
    vertical-align: top;
    flex-basis: auto;
}

.logo {
    height: 100px;
    width: auto;
    position: absolute;
    left: 0px;
    top: 0px;
}

.main {
    /* padding-top: 100px; */
    animation: fadeIn 4s 0s, slideUp 1s 0s;
    animation-fill-mode:forwards;  
    opacity: 0;
}

.progress {
    margin: auto;
    width: 50%;
}

.progress-bar {
    background-color: #125b45;
}

.report-body {
    padding: 15px 15px 30px 15px;
}

.report-container {
    background: rgba(250,250,250,1);
    border: 1px solid #b0da5c;
    border-radius: 5px;
    width: 100%;
    /* height: 80vh; */
    color: black;
    /* padding: 15px 15px 30px 15px; */
    box-shadow: 10px 10px 10px black;
    position: relative;
    animation: fadeIn 2s 0s;
}

.report-container hr {
    margin-top: 0px;
}

.report-container table {
    width: 95%;
    margin: 25px 15px;
    font-family: 'Gotham-Med', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    height: 75%;
}

.report-container table tr td {
    padding: 10px;
}

.report-data {
    font-size: 20px;
}

.report-header {
    font-size: 24px;
    font-family: "Gotham-Med";
}

.security-form-container {
    padding: 50px;
    background: white;
    border: 1px solid #125b45;
    margin: 0px 50px;
    box-shadow: 10px 10px 10px black;
    width: 100%;
    border-radius: 10px;
}

.security-form-container label {
    font-size: 22px;
    color: black;
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Gotham-Med';
    margin-bottom: 30px;
}

.tooltip-inner {
    max-width: 200px!important;
    /* margin-left: 150px; */
    text-align: left;
}

@media (min-width: 1200px) {
    .container{
        max-width: 82vw;
    }
}

@media only screen and (max-width: 768px) {

    body {
        padding-top: 0px;
        /* min-height: 100vh; */
    }

    .headline {
        text-align: center;
        margin-bottom: 25px;
        font-size: 22px;
    }

    .headline h1 {
        font-size: 40px;
        padding-bottom: 25px;
    }

    .logo {
        height: 75px;
    }

    .main {
        padding: 0px 25px 0px 25px;
    }

    .report-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .report-container table {
        margin: auto;
        width: 100%;
    }

    .report-header {
        font-size: 22px;
        font-family: "Gotham-Med";
    }

    .security-form-container {
        width: 90%;
        padding: 25px 15px 0px 15px;
        margin: 25px auto;
    }

    .security-form-container label {
        margin-bottom: 0px;
        font-size: 18px;
    }

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideUp {
    0% { margin-top: 200px; }
    100% { margin-top: 100px;}
}


/** CHART LAYOUT **/

.carousel {
    text-align: center;
    aspect-ratio: 16/9;
    width: 100%;
}

.carousel-item {
    width: 100%;
    aspect-ratio: 16/9;
}

.carousel-item table tr td {
    vertical-align: middle;
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
    z-index: 3;
    width: 7%;
}

.chart {
    width: 86%;
    aspect-ratio: 15/9;
    justify-content: center;
    margin: auto;
}

.chart svg {
    box-shadow: 5px 5px 5px 0px black;
    background: rgb(0,34,28);
    background: linear-gradient(135deg, rgba(0,34,28,1) 47%, rgba(18,91,69,1) 100%);
    z-index: 3;
    position: relative;
    max-width: 100%!important;
}

.chart svg text {
    color: white!important;
    fill: white;
    font-family: "Gotham-LGT";
    font-size: 1em;
}

.loading {
    height: 100%;
    width: 86%;
    position: absolute;
    background: rgba(250,250,250,1);
    z-index: 1;
    padding-top: 100px;
    text-align: center;
    border-radius: 5px;
}

#pieChart {
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

#pieChart svg {
    z-index: 3;
    position: relative;
    max-width: 100%!important;
}