<div style="text-align: center;">
</div>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background-color: #1d9371;"></body>

<div class="image-container" style="text-align: center;">
<img height="350" width="500" src="{{ url_for('static', filename='images/yessir.jpg') }}" class="center"/>
</div>

<header>
<div style="text-align: center;">
<h1>Discover the Power of your Investment</h1>
<h2>Create a Portfolio</h2>
</div>
</header>

<div style="text-align: center;">
<form action="{{ url_for("hello_world")}}" method="post">
    <p><label for="stocks">What stocks do you want in your portfolio?</label></p>
    <p><input type="text" id="stocks" name="stockname" placeholder="AAPL, NFLX, AMD, GOOGL"></p>
    <p><button type="submit">Create</button></p>
</div>
</body>