<!DOCTYPE html>
<html lang="en">
  <script src="https://d3js.org/d3.v5.min.js"></script>

    <script>
        const pieChartDataUrl = "{{ url_for('get_piechart_data') }}";
        const closingChartDataUrl = "{{ url_for('get_closing_data') }}";
        const cumulativeReturnsChartUrl = "{{ url_for('get_cumulative_returns_data') }}";
        const rollingBetaChartUrl = "{{ url_for('get_rolling_beta_data') }}";
        const roiChartUrl = "{{ url_for('get_portfolio_roi_data') }}";
        const heatmapChartUrl = "{{ url_for('get_correlation_heatmap_data') }}";
        

    </script>
    <script src="{{ url_for('static', filename='js/piechart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/closingChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updateClosingChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cumulativeReturnsChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rollingBetaChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/roiChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/heatmapChart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/roiResult.js') }}"></script>

 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Data Dashboard">
   <meta name="author" content="Aboze Brain">
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
 </head>
 
 <center style="background-color: #1d9371">
 <body>
       <div>
         <h1 style="color: white">Canary Quant</h1>
         <h2 style="color: white">Financial Metrics</h2>
         <div id="item">
          <ul>
                <p style="color: white">Return on Investment = {{ roi }}%</p>
                <p style="color: white">Compound Annual Growth Rate = {{ annual_return }}%</p>
                <p style="color: white">Sharpe Ratio = {{ sharpe_ratio }}</p>
                <p style="color: white">Average Beta = {{ ave_beta }}</p>
                <p style="color: white">Average Standard Deviation = {{ std }}</p>
                <p style="color: white">Tracking Error =  {{ tracking_err }}</p>
          </ul>
      </div>
       </div>
       <div class="visualization">
        <div id="pieChart"></div>
        <p>&nbsp;</p>
        <div id="closingChart"></div>
        <p>&nbsp;</p>
        <div id="cumulativeReturnsChart"></div>
        <p>&nbsp;</p>
        <div id="rollingBetaChart"></div>
        <p>&nbsp;</p>
        <div id="barChart"></div>
        <p>&nbsp;</p>
        <div id="heatmapChart"></div>
      </div>
 </body>
</center>
</html>